@import 'tailwindcss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* SwiperSlide */
/* Cor das bolinhas padrão */
.swiper-pagination-bullet {
  background-color: #012437 !important;
  opacity: 0.10; 
}
/* Cor da bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #012437 !important;
  opacity: 1;
}

